<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min/js"></script>
    </head>

    <body>
        <header style="background-color: #313131; height: 80px; ">
            <div>
                <div style="
                    font-family: 'Black Ops One', cursive;
                    color: #ffa909;
                    font-size: 30pt;
                    text-align: center;
                    ">
                    <a style="color:#ffa909;" href="{% url 'home' %}">FaultFinder</a>
                </div>
            </div>
        </header>

        {% block content %} 
        {% endblock content %}

        <footer>

        </footer>
    </body>
</html>